<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Use Cases</title>
    <link rel="stylesheet" type="text/css" href="/static/css/Features.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="Main_Body">

                <nav class="navbar">
                    <div class="logo">
                        <img src="/static/img/features/nlp_logo_2.png" alt="Logo"> 
                        <span>NLP Studio</span>
                    </div>
                    <ul class="nav-links">
                        <li><a href="index.html">Platform <i class="fas fa-caret-down"></i></a></li>
                        <li><a href="index.html">Pricing</a></li>
                        <li><a href="index.html">Company <i class="fas fa-caret-down"></i></a></li>
                        <li><a href="Features.html">Use Cases <i class="fas fa-caret-down"></i></a></li>
                        <li><a href="index.html">Blog <i class="fas fa-caret-down"></i></a></li>
                        <li><a href="Features.html">Learn</a></li>
                    </ul>
                    <button class="logout-btn">
                        <a href="/login" class="fas fa-sign-out-alt",>Log out</a> 
                    </button>
                </nav>


                <h2>Text Use Cases</h2>

                <div class="container">
                    <div class="box"><i class="fas fa-comments"></i><a href = "/conversation"><p>Chatbot/Conversational AI</p></a></div>
                    <div class="box"><i class="fas fa-project-diagram"></i><a href = "8.html"><p>Classification</p></a></div>
                    <div class="box"><i class="fas fa-code"></i><a href = "7.html"><p>Code Generation</p></a></div>
                    <div class="box"><i class="fas fa-spell-check"></i><a href = "6.html"><p>Grammar and Spelling Correction</p></a></div>
                    <div class="box"><i class="fas fa-newspaper"></i><a href = "5.html"><p>Headline Generation</p></a></div>
                    <div class="box"><i class="fas fa-glasses"></i><a href = "4.html"><p>Intent Classification</p></a></div>
                    <div class="box"><i class="fas fa-filter"></i><a href = "3.html"><p>Keyword and Keyphrase Extractions</p></a></div>
                    <div class="box"><i class="fas fa-flag"></i><a href = "2.html"><p>Language Detection</p></a></div>
                    <div class="box"><i class="fas fa-table"></i><a href = "/NER"><p>NER (entity extraction)</p></a></div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    

                </div>

    </div>    
    
    

</body>
</html>
